/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
 height: 100%; }
 @media screen and (max-width: 575px) {
   html {
     font-size: 13px; }
}

body {
 font-family: 'Roboto', sans-serif;
}

.navbar {
 background-color: #FF7300;
}

.navbar-brand {
 margin: 0em;
 padding-top: 0em;
 padding-bottom: 0em;
 font-size: 2em;
 color: white;
 font-family: 'Permanent Marker', cursive;
}

.img-responsive {
 max-height: 160px;
 width: auto;
}

.thumb {
 padding: 2em;
}

.btn {
 background-color: #FF7300;
 border: none;
}

.btn:hover {
 background-color: #7c3d0a;
 border-color: none;
}

#assessment-info {
  margin-top: 0.3em;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  color: white;
  background-color: black
}

#assessment-header {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.badge {
background-color: #878780;
}

#add-assessment-button {
  color: black;
}

.assessment-list {
  color: black;
}
